<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>평점 통계</title>
    <script src="/JS/chart.umd.js"></script>
</head>
<body>

<div th:fragment="chartFragment">
    <!-- 막대 그래프 -->
    <div style="width: 350px; margin: 20px auto;">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
</div>
    <script th:inline="javascript">
    /*<![CDATA[*/
        let voteLabels = /*[[${scoreList}]]*/ [];
        let voteCounts = /*[[${countList}]]*/ [];
    /*]]>*/
    </script>

    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: voteLabels,
            datasets: [{
                label: '평점 분포',
                data: voteCounts,
                backgroundColor: [
                	 'rgba(255, 99, 132, 0.6)',   // 0~1
                     'rgba(54, 162, 235, 0.6)',   // 1~2
                     'rgba(255, 206, 86, 0.6)',   // 2~3
                     'rgba(75, 192, 192, 0.6)',   // 3~4
                     'rgba(153, 102, 255, 0.6)'   // 4~5
                	],
                borderColor: [
                	'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                    ],
                borderWidth: 1,
                
                // ✅ 막대 두께 조절 옵션 위치
                barPercentage: 0.5,
                categoryPercentage: 0.5
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>


</body>
</html>