<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>애니메이션 등록</title>
    <link rel="stylesheet" href="/CSS/test.css">
</head>
<body>
	<div class="admin_container">
	<div class="nav">
        <img src="/IMG/logo_test1.png" alt="" onclick="location.href='/Schedule/animeSchedule'">
        <div class="navitem" onclick="location.href='/Main'">홈</div>
        <div class="navitem" onclick="location.href='/List/List_list'">전체 애니</div>
        <div class="navitem" onclick="location.href='/Schedule/animeSchedule'">방영중 애니</div>
        <div class="navitem">자유게시판</div>
        <div class="navitem" onclick="location.href='/Admin/insert'">관리자</div>
    </div>
    
    <br><br>
    
    <h2>애니메이션 등록</h2>
    <form action="/admin/insert" method="post" enctype="multipart/form-data">
    	<label for="TITLE">제목</label><br>
        <input type="text" id="TITLE" name="TITLE" required><br><br>

        <label for="THUMNAIL_GARO_URL">가로 이미지 URL</label><br>
        <input type="file" id="THUMNAIL_GARO_URL" name="THUMNAIL_GARO_URL"><br><br>

        <label for="THUMNAIL_SERO_URL">세로 이미지 URL</label><br>
        <input type="file" id="THUMNAIL_SERO_URL" name="THUMNAIL_SERO_URL"><br><br>

        <label>요일 (중복 선택 가능)</label><br>
        <input type="checkbox" name="WEEKDAY" value="월요일"> 월요일
        <input type="checkbox" name="WEEKDAY" value="화요일"> 화요일
        <input type="checkbox" name="WEEKDAY" value="수요일"> 수요일
        <input type="checkbox" name="WEEKDAY" value="목요일"> 목요일
        <input type="checkbox" name="WEEKDAY" value="금요일"> 금요일
        <input type="checkbox" name="WEEKDAY" value="토요일"> 토요일
        <input type="checkbox" name="WEEKDAY" value="일요일"> 일요일
        <br><br>

        <label for="SCORE">별점 (0.0 ~ 5.0)</label><br>
        <input type="number" id="SCORE" name="SCORE" step="0.5" min="0" max="5" value="0" onkeydown="return false;" onfocus="this.blur();"><br><br>
        

        <label for="TAGS">태그 (장르)</label><br>
        <input type="text" id="TAGS" name="TAGS" placeholder="예: 판타지,액션"><br><br>

        <button type="submit">등록</button>
    </form>
    </div>
</body>
</html>
